body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex !important;
  flex-direction: column !important;
}

/* XL */
@media screen and (max-width: 1536px) {
  .paperContainer {
    padding: 3.5rem;
  }
  .bannerBox {
    padding-top: 0rem;
  }

  .diningAreaImage {
    width: 96%;
    height: 60vh;
  }
  .InfoTextBox {
    padding-top: 3rem;
    max-width: 90%;
  }
  .bookingInfoSection {
    padding-top: 1rem;
  }
  .booking-key-info-text {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .booking-value-info-text {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .googleMapBox {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .instructionsText {
    padding-top: 2.5rem;
  }
  .plainTextPoints {
    line-height: 1.2;
    font-size: 1.2rem;
    padding-top: 1.5rem;
  }
  .poweredByText {
    align-self: flex-start !important;
    font-size: 1rem;
    padding-top: 1.2rem;
  }
  .arigato {
    line-height: 1.2;
    font-size: 2.3rem;
    padding-top: 2.5rem;
  }
 
  .logoImage {
    width: 20%;
  }
  .individualBookingDataRow {
    padding: 0.5rem 0rem;
  }
}

/* LG */
@media screen and (max-width: 1200px) {
  .paperContainer {
    padding: 3.5rem;
  }
  .bannerBox {
    padding-top: 0rem;
  }

  .diningAreaImage {
    width: 96%;
    height: 50vh;
  }
  .InfoTextBox {
    padding-top: 3rem;
    max-width: 90%;
  }
  .bookingInfoSection {
    padding-top: 1rem;
  }
  .booking-key-info-text {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .booking-value-info-text {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .googleMapBox {
    line-height: 1.2;
    font-size: 1.8rem;
    padding-top: 1.5rem;
  }
  .instructionsText {
    padding-top: 2.5rem;
  }
  .plainTextPoints {
    line-height: 1.2;
    font-size: 1.2rem;
    padding-top: 1.5rem;
  }
  .poweredByText {
    align-self: flex-start !important;
    font-size: 1rem;
    padding-top: 1.2rem;
  }
  .arigato {
    line-height: 1.2;
    font-size: 2.3rem;
    padding-top: 2.5rem;
  }

  .logoImage {
    width: 20%;
  }
  .individualBookingDataRow {
    padding: 0.5rem 0rem;
  }
}

/* MD */
@media screen and (max-width: 900px) {
  .paperContainer {
    padding: 2rem;
  }
  .bannerBox {
    padding-top: 2rem;
  }
  .diningAreaImage {
    height: 40vh;
  }
  .InfoTextBox {
    padding-top: 2rem;
    max-width: 94%;
  }
  .bookingInfoSection {
    padding-top: 1rem;
  }
  .booking-key-info-text {
    line-height: 1.4;
    font-size: 1.4rem;
    padding-top: 1.6rem;
  }
  .booking-value-info-text {
    line-height: 1.4;
    font-size: 1.4rem;
    padding-top: 1.6rem;
  }
  .googleMapBox {
    line-height: 1.4;
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  .instructionsText {
    padding-top: 2rem;
  }
  .plainTextPoints {
    line-height: 1.4;
    font-size: 1.4rem;
    padding-top: 1.2rem;
  }
  .poweredByText {
    align-self: flex-start !important;
    font-size: 2rem;
    padding-top: 1.3rem;
  }
  .arigato {
    line-height: 1.4;
    font-size: 2rem;
    padding-top: 2rem;
  }

  .logoImage {
    width: 20%;
  }
  .individualBookingDataRow {
    padding: 0.3rem 0rem;
  }
}

/* SM */
@media screen and (max-width: 600px) {
  .paperContainer {
    padding: 1.5rem;
  }
  .bannerBox {
    padding-top: 1rem;
  }
  .diningAreaImage {
    height: 20vh;
  }
  .InfoTextBox {
    padding-top: 3rem;
    max-width: 98%;
  }
  .bookingInfoSection {
    padding-top: 0rem;
  }
  .booking-key-info-text {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-top: 1.2rem;
  }
  .booking-value-info-text {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-top: 1.2rem;
  }
  .googleMapBox {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-top: 1.5rem;
  }
  .instructionsText {
    padding-top: 1.5rem;
  }
  .plainTextPoints {
    line-height: 1.5;
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .poweredByText {
    align-self: center !important;
    font-size: 1.5rem;
    padding-top: 1.3rem;
  }
  .arigato {
    line-height: 1.5;
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  .logoImage {
    width: 20%;
  }
  .individualBookingDataRow {
    padding: 0.3rem 0rem;
  }
}

/* XS */
@media screen and (max-width: 450px) {
  .customerName-row {
    padding: 0.2rem 0rem;
  }
  .paperContainer {
    padding: 1.1rem;
  }
  .bannerBox {
    padding-top: 1.4rem;
  }
  .diningAreaImage {
    width: 96%;
    height: 20vh;
  }
  .InfoTextBox {
    padding-top: 3rem;
    max-width: 100%;
  }
  .bookingInfoSection {
    padding-top: 0rem;
  }
  .individualBookingDataRow {
    padding: 0.3rem 0rem;
  }
  .booking-key-info-text {
    line-height: 1.2;
    font-size: 1rem;
    padding-top: 0rem;
  }
  .booking-value-info-text {
    line-height: 1.2;
    font-size: 1rem;
    padding-top: 0rem;
  }
  .googleMapBox {
    line-height: 1.2;
    font-size: 1rem;
    padding-top: 0rem;
  }
  .instructionsText {
    padding-top: 0.8rem;
  }
  .plainTextPoints {
    line-height: 1;
    font-size: 1rem;
    padding-top: 0rem;
  }
  .poweredByText {
    align-self: center !important;
    font-size: 0.7rem;
    /* padding-top: 1rem; */
  }
  .arigato {
    line-height: 1.3;
    font-size: 1rem;
    padding-top: 0.3rem;
  }

  .logoImage {
    width: 40%;
  }
}

.paperContainer {
  height: 100%;
  /* width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("https://i.ibb.co/3FrHXVv/kazoku-confirmation-cropped.jpg");
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.bannerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoTextBox {
  align-self: center;
  padding: 0rem 0.5rem;
}
.individualBookingDataRow {
  display: flex;
  flex-direction: row;
  gap: 1;
}
.customerName-row {
  max-height: 2rem;
}
.date-row {
  max-height: 2rem;
}
.time-row {
  max-height: 2rem;
}
.guestsCount-row {
  max-height: 2rem;
}

.logoImageWrraper {
  display: flex !important;
  justify-content: center !important;
}

.booking-key-info {
  flex: 4;
}
.booking-value-info {
  flex: 8;
}
.logoImageBox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.arigato {
  align-self: center !important;
}
